* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

#container1#container2#container3#container4 {
  margin: 3px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 8px;
}

.container-xl {
  width: 1320px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid gainsboro;
}

.slide-bar {
  width: fit-content;
  height: 100vh;
  overflow: hidden;
  transition: width 1s ease-in-out;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
}

.slide-one {
  display: flex;
  width: 100%;
}

.slide-links a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.slide-links a:hover {
  color: black;
}

.slide-icon {
  display: flex;
  padding: 0px 20px;
}

.slide-title {
  display: flex;
  align-items: center;
}

.slide-img {
  display: inline-block;

  /* justify-content: left; */
}

.slide-a {
  overflow: hidden;
  width: 250px;
  padding: 0px 10px;
  transition: width 300ms ease-in-out;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
}

.slide-links {
  padding: 15px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-slide {
  width: 250px;
  opacity: 100;
}

.hid-btn {
  padding: 10px;
  border: none;
  background-color: white;
  padding: 0px 15px;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hide-slide {
  width: 0px;
  opacity: 0;
  transition: width 300ms ease-in-out;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-two-hor {
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-20 {
  padding: 10px;
}

.profile-img {
  width: 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-right {
  margin-right: 10px;
}

.content {
  margin-bottom: 60px;
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #f9fafb;
  flex-wrap: wrap;
  width: 100%;
}

.analytics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  background-color: #f9fafb;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.dash-stats {
  border: 1px solid gainsboro;
  width: 24%;
}

.left-side-column > p {
  padding: 10px 0px;
}

.left-side-column > i {
  font-size: 30px;
}

.left-side-column > stat:first-child {
  color: red;
}

.right-side-column {
  background-color: #e8f5e9;
  padding: 5px 10px;
  border-radius: 30px;
}

.respo {
  background-color: white;
}

.respo1 {
  padding: 3px 0px;
  height: 61%;
  width: 60%;
}

.respo2 {
  width: 40%;
  height: 60%;
}

.respo3 {
  width: 50%;
  padding: 20px;
}
.respo4 {
  width: 50%;
  padding: 20px;
}

.respo5 {
  width: 50%;
  padding: 20px;
}

.respo-dash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 1px solid gainsboro;
}

.map {
  width: 100%;
  height: 100%;
  background-color: white;
}

.pop-up {
  position: absolute;
  right: 5%;
  top: 7%;
  display: none;
  border-radius: 10px;
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.respo-pop {
  padding: 20px;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-imge {
  width: 30%;
  border: 10px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-imge > img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-stats {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  justify-content: space-evenly;
}

.earnings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-btn {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.log-btn {
  padding: 10px 20px;
  background-color: #9ad0f5;
  border: 2px solid #9ad0f5;
  color: white;
  border-radius: 10px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.log-btn:hover {
  background-color: white;
  border: 2px solid #9ad0f5;
  color: black;
}

.noti-pop-up {
  display: none;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 9%;
  top: 7%;
  width: 20%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

.noti-box {
  display: flex;
  margin: 10px 0px;
  border-bottom: 1px solid #efefef;
  justify-content: space-evenly;
  align-items: center;
}

.noti-imge {
  width: 20%;
  padding: 10px;
}

.noti-imge > img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slide-icon > i {
  font-size: 20px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.notification > a {
  text-decoration: none;
  color: #88919f;
}

.font-gain {
  color: #88919f;
}
.slide-a > a {
  color: #88919f;
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
  color: #88919f;
}

.from-country {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 12px;
  color: #72778f;
}

.circle {
  display: flex;
  padding: 30px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle-progress {
  display: flex;
  width: 100%;

  border-top: 1px solid gainsboro;
  justify-content: space-evenly;
  align-items: center;
}

#container5 {
  margin: 0px 20px;
  width: 100%;
  position: relative;
}

#container5 > svg > path:first-child {
  stroke-dasharray: 301.635, 301.635 !important;
}

#container5 > svg > path:last-child {
  stroke-dasharray: 290.635, 301.635 !important;
}

#container6 {
  margin: 0px 20px;
  width: 100%;
  position: relative;
}

#container6 > svg > path:first-child {
  stroke-dasharray: 150.635, 301.635 !important;
}

#container6 > svg > path:last-child {
  stroke-dasharray: 150.635, 301.635 !important;
}
#container7 {
  margin: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#container7 > svg > path:first-child {
  stroke-dasharray: 225.635, 301.635 !important;
}

#container7 > svg > path:last-child {
  stroke-dasharray: 225.635, 301.635 !important;
}

.list li {
  width: 100%;
  list-style: none;
  display: flex;
  padding: 5px;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.list label {
  padding: 0px 10px;
}

.todo-main {
  padding: 20px;
}

.tag-right {
  display: flex;
  flex: auto;
  justify-content: right;
}

.radiobutton {
  border-radius: 20px;
  padding: 1px 10px;
  color: white;
  font-size: 10px;
  float: right;
}

.radiobutton1 {
  background-color: #4caf50;
}
.radiobutton2 {
  background-color: #4caf50;
}
.radiobutton3 {
  background-color: #ffeb3b;
}
.radiobutton4 {
  background-color: #00bcd4;
}
.radiobutton5 {
  background-color: #4caf50;
}

.ri-home-8-line {
  color: #2196f3;
}

.fa-envelope {
  color: #795548;
}

.fa-feather {
  color: #8596f3;
}

.fa-calendar {
  color: #ff5722;
}

.fa-message {
  color: #673ab7;
}

.fa-chart-simple {
  color: #3f51b5;
}

.fa-wpforms {
  color: #03acf5;
}

.fa-palette {
  color: #e91e63;
}

.ri-list-check-2 {
  color: #ff9800;
}

.ri-map-2-line {
  color: #b627b0;
}

.ri-file-copy-line {
  color: #f64336;
}

.fa-server {
  color: #849688;
}

#chart1 {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .respo {
    width: 100%;
  }

  .slide-bar {
    width: 0px;
  }

  .analytics {
    display: flex;
    flex-wrap: wrap;
  }

  .dash-stats {
    width: 50%;
    padding: 20px;
  }

  .circle-progress {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .respo-cir-pro {
    width: 50%;
  }

  #myChart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .respo1 {
    height: 500px;
  }

  .respo2 {
    height: auto;
  }
}

@media (max-width: 425px) {
  .analytics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .dash-stats {
    width: 90%;
    padding: 10px;
  }

  .pop-up {
    right: 0%;
    width: 100%;
  }

  .noti-pop-up {
    right: 0%;
    width: 100%;
  }

  .admin-btn {
    width: 100%;
  }

  
}

@media (max-width: 1500px) {
  .slide-bar {
    position: absolute;
    background-color: white;
    z-index: 1;
  }

  .hid-btn {
    z-index: 5;
    background-color: white;
    padding: 0px 15px;
    font-size: 25px;
  }
}
